<!DOCTYPE html>
<html>
  <head>
    <title>Mentor4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if user_signed_in? %>
    <%= render 'layouts/navigation_links' %>
        <% else %>
    <%= render 'layouts/navigation_out_links' %>
        <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
